All code in this repository was developed by @annieyan based on 
the code for the DIUx xView Detection Challenge (https://github.com/DIUx-xView)
for eScience Institue at University of Washington 2018 Data Science for Social Good 
Project (https://escience.washington.edu/2018-data-science-for-social-good-projects/)
